:root {
    --dark-bg: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --light-bg: hsl(0, 0%, 15%);

    --text: hsl(0, 0%, 95%);

}

body {
    background-color: var(--dark-bg);
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}

table {
    width: 100vw;
    table-layout: fixed;
}

tbody > tr:first-child > td {
    border-top: 1px solid gold;
}

td, th {
    overflow-wrap: break-word;
}



th {
    height: 40px;
    resize: horizontal;
    position: sticky;
    top: 0;
}

td {
    height: 40px;
    background-color: var(--bg);
    padding: 10px;
}

#titleHeader    { width: 35%; }
#authorHeader   { width: 10%; }
#chaptersHeader { width: 4%; }
#updatedHeader  { width: 25%; }
#fandomHeader   { width: 25%; }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}